@import url(reset.css);

body {
    background-color: #131418;
    color: #fff;
}

header {
    background: #131418;
    margin-bottom: 15px;
}

.title {
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.hr {
    height: 5px;
    background: -webkit-linear-gradient(70deg,#CC3D3D,#9FC93C,#4641D9,#D9418C);
    background: -moz-linear-gradient(70deg,#CC3D3D,#9FC93C,#4641D9,#D9418C);
    background: -o-linear-gradient(70deg,#CC3D3D,#9FC93C,#4641D9,#D9418C);
    background: linear-gradient(70deg,#CC3D3D,#9FC93C,#4641D9,#D9418C);
}

.wrap {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 15px;
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: block;
    width: 32%;
    min-width: 300px;
    margin-right: 2%;
    margin-bottom: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.card__link {
    display: block;
    text-decoration: none;
    color: #fff;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card__header iframe {
    vertical-align: bottom;
    width: 100%;
    height: 150px;
    pointer-events: none;
    overflow: hidden;
    border: none;
}

.card__body {
    background-color: #2d303a;
}

.card__description {
    text-align: center;
    padding: 20px 10px;
}

@media all and (max-width: 968px) {
    .card {
        width: 49%;
    }

    .card:nth-child(2n) {
        margin-right: 0;
    }
}

@media all and (max-width: 643px) {
    .card {
        width: 100%;
    }

    .card:nth-child(n) {
        margin-right: 0;
    }
}