@import url("reset.css");

body {
    background: #D1B2FF;
}

header {
    background: #A566FF;
    padding: 20px 0;
    margin-bottom: 50px;
    box-shadow: 0 1px 1px 0 #484848;
}

div#wrap {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

div#map {
    width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}